<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody id="userTable">

        <!-- Example row -->
        <% users.forEach(user=> { %>
            <tr>
                <td>
                    <%= user.name %>
                        <% if(user.isAdmin) { %> <span style="color: grey; font-style: italic;">(admin)</span>
                            <% } %>
                </td>
                <td>
                    <%= user.email %>
                </td>
                <td>
                    <a href="/admin/update/<%= user.id %>" class="btn update">Update</a>
                    <a href="/admin/reset/<%= user.id %>" class="btn update">Reset Password</a>
                    <% if(user.suspendend) { %>
                        <a href="/admin/restore/<%= user.id %>">Restore User</a>
                        <% } else {%>
                            <a href="/admin/suspend/<%= user.id %>" class="btn delete">Suspend User</a>
                            <% } %>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>